<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.depaul.snotg_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/map_cube"
        android:label="@string/app_name" >
        
        <activity
            android:label="@string/app_name"
            android:name=".Snotg_androidActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- main menu defined by Ray. -->
        <activity
            android:label="Main Menu"
            android:name=".MainMenuActivity" >
        </activity>

        <!-- Garry Defined Activities for Mapping -->
        <activity
            android:label="Map Activity"
            android:name=".AndroidMapActivity" >
        </activity>
        <activity
            android:label="Lat/Long Location"
            android:name=".ShowTheMap" >
        </activity>
        <activity
            android:label="Track Present Location"
            android:name=".MapMe" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <activity android:name=".MyProfileActivity" />
    </application>

</manifest>